<launch>
  <arg name="legged_robot_scene" default="$(find mujoco_cpp)/model/kuavo/scene_with_arm.xml"/>
  <param name="legged_robot_scene_param" value="$(arg legged_robot_scene)" />
  <node pkg="nodelet" type="nodelet" name="nodelet_tcp" args="load TcpNodelet nodelet_manager" respawn="false" output="screen" />
</launch>
